[submodule "DatasetHelper"]
	path = ./modules/DatasetHelper
	url = git@github.com:libraun/DatasetHelper.git
[submodule "TextTensorizer"]
	path = ./modules/TextTensorizer
	url = git@github.com:libraun/TextTensorizer.git
